JingMY_Swift/JingMY_Swift.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
JingMY_Swift/JingMY_Swift.xcodeproj/project.xcworkspace/xcuserdata/jing_mac.xcuserdatad/UserInterfaceState.xcuserstate
JingMY_Swift/JingMY_Swift.xcodeproj/xcuserdata/jing_mac.xcuserdatad/xcschemes/xcschememanagement.plist
JingMY_Swift/Pods/Pods.xcodeproj/xcuserdata/jing_mac.xcuserdatad/xcschemes/Pods-JingMY_Swift.xcscheme
JingMY_Swift/Pods/Pods.xcodeproj/xcuserdata/jing_mac.xcuserdatad/xcschemes/SnapKit.xcscheme
JingMY_Swift/Pods/Pods.xcodeproj/xcuserdata/jing_mac.xcuserdatad/xcschemes/xcschememanagement.plist
JingMY_Swift/JingMY_Swift/Assets.xcassets/Contents.json
JingMY_Swift/JingMY_Swift/Assets.xcassets/AppIcon.appiconset/Contents.json
JingMY_Swift/JingMY_Swift.xcworkspace/xcuserdata/jing_mac.xcuserdatad/UserInterfaceState.xcuserstate
JingMY_Swift/JingMY_Swift.xcworkspace/xcuserdata/jing_mac.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
